<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ximbole Bahiano - Listar Produtos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../styles/listarStyle.css">
</head>
<body>

	<section id="containerPrincipal">
		<h1>Listar Produtos!</h1>

		<section>
			<button class="btn btn-primary" onclick="requisitarLista(3)">Listar todos</button>
		</section>

		<section>
			<button class="btn btn-success" onclick="requisitarLista(1)">Listar ativos</button>
		</section>

		<section>
			<button class="btn btn-danger" onclick="requisitarLista(0)">Listar inativos</button>
		</section>

		<section>
			<table id="tabelaResposta" class="table">
				
			</table>
		</section>
	</section>
	<footer>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-outline-warning btn-sm" onclick="redirecionar('adc')" type="button">Adicionar</button>
			<button class="btn btn-outline-danger btn-sm" onclick="redirecionar('rem')" type="button">Remover</button>
			<button class="btn btn-outline-info btn-sm" onclick="redirecionar('bus')" type="button">Buscar</button>
			<button class="btn btn-outline-success btn-sm" onclick="redirecionar('att')" type="button">Atualizar</button>
			<button class="btn btn-outline-primary btn-sm" onclick="redirecionar('hom')" type="button">Home</button>
		</div>
	</footer>

</body>

<script src="../js/redirect.js"></script>
<script type="text/javascript">
	function requisitarLista(status) {
		let xmlHttp = new XMLHttpRequest();

		let url = "http://localhost/lojaXimbole/listarProd.php?status=" + status;
		xmlHttp.open("GET", url, true);

		xmlHttp.onreadystatechange = function(){

			if(this.readyState == 4 && this.status == 200){
				console.log("Link aberto!");
				let lista = this.responseText;
				console.log(lista);
				lista = JSON.parse(lista);
				montarResposta(lista);
			}
		}


		xmlHttp.send();
		console.log("Requisicao feita!");
	}

	function montarResposta(lista){
		let i = 0;
		let tabelaResposta = document.getElementById("tabelaResposta");
		let tabela = '';

		tabela += `
			<thead>
				<tr>
					<th scope="col">codBarra</th>
					<th scope="col">Nome</th>
					<th scope="col">Fabricante</th>
					<th scope="col">Categoria</th>
					<th scope="col">Tipo do Produto</th>
					<th scope="col">Preco de Venda</th>
					<th scope="col">Qtd em Estoque</th>
					<th scope="col">Peso em Gramas</th>
					<th scope="col">Data de Inclusao</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
		`

		while(lista.length > i){
			tabela +=
			`
				<tbody>
					<tr>
					   	<td>${lista[i].codBarra}</td>
					   	<td>${lista[i].nome}</td>
					   	<td>${lista[i].fabricante}</td>
					   	<td>${lista[i].categoria}</td>
					   	<td>${lista[i].tipoProd}</td>
					   	<td>${lista[i].precoVenda}</td>
					   	<td>${lista[i].qtdEstoque}</td>
					   	<td>${lista[i].pesoGramas}</td>
					   	<td>${lista[i].dataInclusao}</td>
					   	<td>${lista[i].ATIVO}</td>
					</tr>
				</tbody>
			`
			tabelaResposta.innerHTML = tabela;
			i++;
		}
	}
</script>
</html>